::selection{
  background: #00fcb8;
  color: #000000;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

a, p, strong {
  line-height: 1.5em;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Open Sans Condensed', sans-serif;
}

a {
  font-weight: 300;
  color: #000000;
}

p {
  font-weight: 300;
  margin: 0 0 15px 0;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.title-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 10px;
  transform: translate(-50%, -50%);
}

.title-loader:after {
  content: "";
  position: absolute;
  top: -60px;
  left: 50%;
  width: 3px;
  height: 50px;
  background: #00fcb8;
  transform: translate(-50%, 0);
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
