.posts {
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
  perspective: 1000;
}

.list-posts {
  list-style-type: none;
}

.item-post {
  position: relative;
  float: left;
  width: calc(100% / 3);
  padding: 50px;
  box-sizing: border-box;
}

.item-post:hover .img-post {
  transform: scale(1);
}

.item-post:hover .separator-post {
  transform: scaleX(2);
}

.item-post:hover .wrap-item-post-hover {
  opacity: 1;
}

.link-post {
  text-decoration: none;
  color: #000000;
}

.content-post {
  z-index: 2;
  overflow: hidden;
  position: absolute;
  margin: 50px 0;
  left: 0;
  bottom: 10%;
  width: 45%;
}

.wrap-title-post, .wrap-subtitle-post {
  overflow: hidden;
}

.title-post {
  margin: 20px 0 0 0;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.subtitle-post {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 5px;
}

.separator-post {
  width: 60px;
  height: 3px;
  background: #000000;
  transition: all 0.25s ease-in-out;
}
.wrap-img-post {
  overflow: hidden;
}

.wrap-img-post:after {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: calc(50% - 100px);
  height: calc(100% - 100px);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}

.img-post {
  display: block;
  width: 100%;
  transition: all 0.5s ease-out;
  transform: scale(1.02);
}

.types {
  overflow: auto;
  z-index: 1;
  position: absolute;
  margin: 50px;
  top: 0;
  left: 0;
}

.list-types {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-type {
  float: left;
  margin: 10px;
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-bottom: 1px solid #000000;
}

.wrap-item-post-hover {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.9);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.show-more {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.show-more .fa {
  font-size: 30px;
  padding: 10px;
}

@media only screen and (max-width: 1400px) {
  .posts {
    width: 95%;
  }
  .content-post {
    width: 70%;
  }
  .item-post {
    padding: 25px;
  }
}

@media only screen and (max-width: 960px) {
  .item-post {
    width: 50%;
  }
}

@media only screen and (max-width: 660px) {
  .item-post {
    width: 100%;
  }
}
